# Visual Studio cache
.vs/

# Build output folders
x64/
x86/
Debug/
Release/

# C++ build artifacts
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.lib
*.exp
*.tlog
*.lastbuildstate
*.log
*.recipe

# User-specific Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates

# Database/cache files
*.VC.db
*.VC.VC.opendb
*.opendb
*.db-shm
*.db-wal
